<%- include('partials/_header') %>
<body class="  red accent-3">
    <div class="container">
        <h1 class="center-align white-text" style="line-height: 1.6em;">Ooooops!...</h1>
        <h5 class="center-align white-text" style="line-height: 1.5em;">Something went wrong</h5>
        <h5 class="center-align white-text"> <a href="/" class="waves-effect waves-light btn-large" ><i class="material-icons">home</i></a></h5>
    </div>
    
</body>
</html>