<%- include('partials/_header') %>

<body class="blue-grey darken-4 valign-wrapper " style="height: 100vh;" >
  <header style="width: 100%;">
    <div class="row" >
      <div class="container"  >
        <div class="col s12 " style="margin-bottom: 10px;">
          <h1 class="center-align">PRICIO</h1>
          <p class="center-align">|| Compare before consume</p>
        </div>
        <form class="col s12 m8 offset-m2" method="POST" action="/"  style="margin-bottom: 40px;">
          <div class="row  valign-wrapper">
            <div class="col s12 m8" >
              <div class="input-field col s12">
              
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" class="validate" name="search" required="" aria-required="true" >
                <label for="search">Search a product here</label>
                
              </div>
            </div>
            <div class="col s12 m4">
              <button class="btn waves-effect waves-light  teal accent-4" type="submit">Search
                <i class="material-icons right ">send</i>
              </button>
            </div>
          
            </div>
          </form>
          <div class="col s12  " style="margin-bottom: 30px;">
            <p class="center-align">We help you to compare the prices in the leading online market places, <b>Amazon.com</b> and <b>Ebay.com</b></p>
          </div>
          <br>
          <br>
          <div class="col s12" >
            
              <div class="col s6 push-s3 m3 offset-m1">
                <img src="images/amazon-png.png" alt="" class="responsive-img" style="margin-bottom: 15px;margin-top: 15px;">
                <p>Amazon (Amazon.com) is the world’s largest online retailer and a prominent cloud services provider. </p>
              </div>
              <div class="col s12 m4">
                <img src="images/compare.png" alt="" class="responsive-img">
              </div>
              <div class="col s6 push-s3 m3">
                <img src="images/ebay-png.png" alt="" class="responsive-img" >
                <p>eBay is the world's online marketplace; a place for buyers and sellers to come together and trade almost anything!</p>
              </div>
         
        </div>
        
        
        
      </div>
    </div>
  </header>
 
  
    
    
</body>
</html>