* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.card-title-custom {
    font-size: .8rem;
    font-weight: bold;
    line-height: 1rem;
}

a {
    color: black;
}

@media (max-width: 576px) { 
    .container {
        width: 100%;
    }
}